.about {

  justify-self: center;

  display: grid;
  grid-template-columns: [col-start] 50% [col-mid] 50% [col-end];
  grid-template-rows: [heading-start] 15% [heading-end body-start] 85% [body-end];
  
  max-width: 1200px;
  margin: 0 4rem;
  justify-content: center;
  padding-bottom: 10vw;
 
  @include ResponsiveMobileFirst(tablet) {
    padding-bottom: 15vw;
   }


  &__textbox {

    grid-column: col-start / col-mid;
    grid-row: body-start / body-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0px 1rem;
    padding-right:2rem;
  }

  &__composition {

    align-self: center;

    grid-column: col-mid / col-end;
    grid-row: body-start / body-end;

    height: 100%;
    width: 100%;
  }
}

.composition {
    position: relative;
  
    &__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 2rem;
  
      &--p1 {
        left: 0;
        top: -1vw;
      }
  
      &--p2 {
        right: 0;
        top: 2vw;
      }
  
      &--p3 {
        left: 20%;
        top: 10vw;
      }
  
      &:hover {
        outline: 1.5rem solid $color-primary;
        transform: scale(1.05) translateY(-.5rem);
        box-shadow:  0 2.5rem 4rem rgba($color-black, .5);
        z-index: 20;
      }
  
    }
  
    &:hover &__photo:not(:hover) {
      transform: scale(.95);
    }
  }