.footer {
    background-color: $color-grey-dark-3;
    padding: 5vw 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    display: grid;
    grid-template-columns: [col-start] 40vw [col-mid] 40vw [col-end];
    grid-template-rows: [row-start] min-content [row-mid] min-content [row-end];
    grid-row-gap: 5vw;
    justify-content: center;
    justify-items: center;
  
  
    &__navigation {
      grid-column: col-start / col-end;
      grid-row: row-start / row-mid;

      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

    }

    &__item {
      flex-basis: 1;
      flex-shrink: 0;
      padding: 1rem;
    }
  
  
  
    &__link {
      &:link,
      &:visited {
        color: $color-grey-light-1;
        background-color: $color-grey-dark-3;
        text-decoration: none;
        text-transform: uppercase;
        display:inline-block;
        transition: all .3s;
  
      }
  
      &:hover,
      &:active {
        color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        transform: rotate(5deg) scale(1.3);
      }
    }
  
    &__copyright {
      grid-column: col-start / col-end;
      grid-row: row-mid / row-end;
      text-align: center;
      width: 100%;
      padding: 1rem;
    }
  }