.tours {

    //background-color: $color-grey-light-1;
    padding: 10rem 0 10rem 0;
    //margin-top: -10rem;

    display: grid;
    grid-template-columns: [col-start ]minmax(min-content, 1200px) [col-end];
    grid-template-rows: [heading-start ] min-content [heading-end body-start] min-content [body-end button-star] min-content [button-end];
    

    justify-content: center;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vw;
        margin: 4vw;
    }

    &__button {
        align-self: center;
        justify-self: center;
    }

}
