.container {

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: [header-start] min-content [header-end] repeat(5, [section-start] min-content [section-end]) [footer-start] min-content [footer-end];

}

.header {
  grid-column: col-start 1 / col-end 12;
  grid-row: header-start / header-end;
}

.about {
  grid-column: col-start 1 / col-end 12;
  grid-row: section-start 1 / section-end 1;
}

.features {
  grid-column: col-start 1 / col-end 12;
  grid-row: section-start 2 / section-end 2;

}

.tours {
  grid-column: col-start 1 / col-end 12;
  grid-row: section-start 3 / section-end 3;
}

.stories {
  grid-column: col-start 1 / col-end 12;
  grid-row: section-start 4 / section-end 4;
}

.booking {
  grid-column: col-start 1 / col-end 12;
  grid-row: section-start 5 / section-end 5;
}

.footer {
  grid-column: col-start 1 / col-end 12;
  grid-row: footer-start / footer-end;
}




